

<div class="tab-content" id="v-pills-tabContent">

    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
        <div class="card mb-3" style="min-width: 540px;width: auto;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://cbff-teco-strapi-cms-pro.s3.amazonaws.com/Galaxy_S22_Pink_Gold_Frente_min_28ef0b13be.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Samsung Galaxy S22 - Pink Gold</h5>
                  <p class="card-text">Fotografía profesional al alcance de tu mano con el nuevo Samsung Galaxy S22; con cámara de 50+10+12 MP para explorar tu creatividad. Obtené los mejores resultados gracias a su procesador Octa-Core (2.99GHz,2.4GHz,1.7GHz), su memoria interna de 128 GB. Disfrutá de jugar; ver series o trabajar en una pantalla de full vision de 6.1".</p>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
        <div class="card mb-3" style="min-width: 540px;width: auto;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://cbff-teco-strapi-cms-pro.s3.amazonaws.com/Galaxy_S22_Pink_Gold_Frente_min_28ef0b13be.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Cámara y Video</h5>
                  <p class="card-text">Resolución de la cámara50+10+12 Mp</p>
                  <p class="card-text">Secundaria10 Mp</p>  
                  <p class="card-text">FlashLed</p>  
                  <p class="card-text"> ZoomOptico 3x Digital 30x</p>
                <p class="card-text">Video8K@24fps</p>
                <p class="card-text">StreamingMP4/DviX/XviD/H.264/WMV</p>
                <p class="card-text">ExtrasHDR - face detection - Geo-Tagging - toma unica - modo profesional - retrato - video retrato - panoramica - gran angular - modo noche - superlenta - cámara lenta - hiperlapso -comida - perspectiva de director - dibujos AR.</p>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
        <div class="card mb-3" style="min-width: 540px;width: auto;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://cbff-teco-strapi-cms-pro.s3.amazonaws.com/Galaxy_S22_Pink_Gold_Frente_min_28ef0b13be.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Pantalla y Seguridad</h5>
                  <p class="card-text">Pantalla Touch/Tipo:FHD+ - Dynamic AMOLED 2X</p>
                  <p class="card-text">Tamaño en pulgadas:6.1"</p>
                  <p class="card-text">Resolución:1080 x 2340 pixels</p>
                  <p class="card-text">Lector Huella:Si</p>
                  <p class="card-text">Face Detection:Si</p>
                </div>
              </div>
            </div>
    </div>

   

</div>


      <!-- <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://cbff-teco-strapi-cms-pro.s3.amazonaws.com/Galaxy_S22_Pink_Gold_Frente_min_28ef0b13be.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Batería y Conectividad</h5>
              <p class="card-text">Capacidad: 3700 mAh</p>
              <p class="card-text">4G LTELTE Cat20/18 (2000/200 Mbps) - CA</p>  
              <p class="card-text">Wi-Fi: 802.11 a/b/g/n/ac/ax 2.4G+5GHz</p>  
              <p class="card-text">Usb: USB v3.1 Tipo C (reversible)</p>
              <p class="card-text">Bluetoothv: 5.2</p>
            </div>
          </div>
        </div>
      </div>  -->

      <!-- <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
        <div class="card mb-3" style="min-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://cbff-teco-strapi-cms-pro.s3.amazonaws.com/Galaxy_S22_Pink_Gold_Frente_min_28ef0b13be.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Especificaciones Técnicas</h5>
                  <p class="card-text">Sistema operativo:Android 12</p>
                  <p class="card-text">Procesador:Octa-Core (2.99GHz - 2.4GHz - 1.7GHz)</p>  
                  <p class="card-text">RAM:8 GB</p>  
                  <p class="card-text">Memoria Interna:128 GB</p>
                  <p class="card-text">Memoria Disponible100 GB</p>
                </div>
              </div>
            </div>
        </div> 
    </div> -->